body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {  
  display:grid;
  grid-template-columns: auto auto auto;

}

.grid-item-2.todo-list{
  margin-top: 20px;
}

.grid-item-2.todo-list div {
  padding: 10px;
}

.grid-item-2.todo-list span {
  font-size: 20px;
}